@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 0.5;
  background-image: url('https://i.postimg.cc/Zn8xhGww/main-page-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}
