@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

.contact-details {
  float: left;
}

.webpage-links {
  float: right;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
