.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  width: 100%;
  height: auto;
}

.card-image img {
  background-image: url(https://i.postimg.cc/GtmZG0Zd/featured-items-bg.png);
  object-fit: cover;
  height: 300px;
}

.page-text {
  color: rgb(7, 7, 7);
  text-align: center;
  margin-right: 10rem;
}
