.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  width: 40%;
  height: 70%;
  object-fit: cover;
}

.card-image img {
  object-fit: cover;
}

.page-text {
  color: rgb(7, 7, 7);
  text-align: center;
  margin-right: 10rem;
}

/*mobile*/
@media only screen and (max-width: 520px) {
  .card {
    width: 30%;
  }
  .page-text {
    text-align: center;
    margin-right: auto;
  }
}

/*tablet*/
@media only screen and (min-width: 521px) and (max-width: 768px) {
  .card-container {
    width: 40%;
  }
}
