.container {
  min-height: 100vh;
}

.top {
  height: 50%;
  background-color: orchid;
  position: relative;
}

.bottom {
  height: 50%;
  background-color: powderblue;
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: red;
  position: absolute;
  bottom: -10rems;
}
